<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  X
</button>

<h1 mat-dialog-title>ID: {{data.id}}</h1>
<div mat-dialog-content>
  <p>Name</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date of Birth</mat-label>
    <input matInput [(ngModel)]="data.dateOfBirth">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="updateemployee()">Update</button>
</div>
