<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;

    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: rgb(#f0edad);
    }

    label {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: left;
      width: 350px;
      line-height: 26px;
      margin-bottom: 10px;
    }

    input {
      height: 20px;
      flex: 0 0 200px;
      margin-left: 10px;
    }
  </style>
</head>

<h1 style="text-align: center;"><b>Hello {{name}} !</b>
  <div mat-dialog-actions align="end"><button mat-raised-button color="warn" type="button"
      (click)="logout()">LogOut</button></div>
</h1>


<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Employees">

    <div class="w3-twothird" style="height:400px;overflow:auto;">
      <table>
        <thead>
          <tr>
            <th *ngFor="let x of tableData?.headers">
              {{x.key}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableData?.data">
            <td *ngFor="let h of tableData?.headers">
              {{row[h.key]}}
            </td>
            <td>
              <button mat-raised-button (click)="updateemployeepopup(row)">Update</button>&nbsp;
              <button mat-mini-fab color="primary" (click)="deleteEmployee(row)">
                <mat-icon>delete</mat-icon>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <label for="employeenme">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text"
            id="employeename"></label>

      </div>
      <div>
        <label for="employeenme">Password:&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="employeepassword"></label>

      </div>
      <div>
        <label for="employeedateofbirth">Date of birth:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="date" id="employeedateofbirth"></label>

      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button type="button" (click)="addemployee()">Add employee</button>




  </mat-tab>
  <mat-tab label="Assets">

    <div class="w3-twothirds" style="height:400px;overflow:auto;">
      <table>
        <thead>
          <tr>
            <th *ngFor="let x of tableDataAssets?.headers">
              {{x.key}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableDataAssets?.data">
            <td *ngFor="let h of tableDataAssets?.headers">
              {{row[h.key]}}
            </td>
            <td>
              <button mat-raised-button (click)="updateassetpopup(row)">Update</button>&nbsp;

              <button mat-mini-fab color="primary" (click)="deleteAsset(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>

      <div>
        <label for="assetName">Asset Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
            id="assetName"></label>

      </div>

    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button type="button" (click)="addAsset()">Add Asset</button>
  </mat-tab>
  <mat-tab label="Asset Assignments">

    <div class="w3-twothirds" style="height:400px;overflow:auto;">
      <table>
        <thead>
          <tr>
            <th *ngFor="let x of tableDataAssignments?.headers">
              {{x.key}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of tableDataAssignments?.data">
            <td *ngFor="let h of tableDataAssignments?.headers">
              {{row[h.key]}}
            </td>
            <td>
              <button mat-mini-fab color="primary" (click)="deleteAssetAssignment(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <div>
        <label for="EmployeeNameAssignmentId">Employee Name:&nbsp; <input type="text"
            id="EmployeeNameAssignmentId"></label>

      </div>
      <div>
        <label for="assetNameAssignmentId">Asset Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"
            id="assetNameAssignmentId"></label>

      </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button type="button" (click)="addAssetAssignment()">Add Asset Assignment</button>
  </mat-tab>
</mat-tab-group>
